<ion-header>
    <ion-toolbar color="bluemain">
        <ion-title>
            Normal
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="dark">


    <ion-card class="animate__animated animate__bounceInDown">
        <ion-item color="graymain" class="ion-text-right">
            <ion-label> {{calculo}} </ion-label>
        </ion-item>
        <ion-item color="graymain">
            <p class="resultado"> = </p>
            <ion-label class="resultado"> {{r}} </ion-label>
        </ion-item>
    </ion-card>

    <ion-card class="animate__animated animate__bounceInDown" color="graymain">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-button size="large" class="fontT" expand="full" color="bluemain" (click)="apagarTudo()"> C </ion-button>
                </ion-col>
                <ion-col>
                    <ion-button size="large" class="fontT" expand="full" color="bluemain" (click)="apagarUltimo()"> DEL </ion-button>
                </ion-col>
                <ion-col>
                    <ion-button size="large" class="fontT" expand="full" color="bluemain" (click)="adicionarPonto()"> . </ion-button>
                </ion-col>
                <ion-col>
                    <ion-button size="large" class="fontT" expand="full" color="bluemain" (click)="adicionarOp('/')"> / </ion-button>
                </ion-col>
            </ion-row>


            <ion-row>
                <ion-col>
                    <ion-button class="fontT" expand="full" color="bluetertiary" (click)="adicionarNum('7')"> 7 </ion-button>
                </ion-col>
                <ion-col>
                    <ion-button class="fontT" expand="full" color="bluetertiary" (click)="adicionarNum('8')"> 8 </ion-button>
                </ion-col>
                <ion-col>
                    <ion-button class="fontT" expand="full" color="bluetertiary" (click)="adicionarNum('9')"> 9 </ion-button>
                </ion-col>
                <ion-col>
                    <ion-button class="fontT" expand="full" color="bluemain" (click)="adicionarOp('*')"> * </ion-button>
                </ion-col>
            </ion-row>


            <ion-row>
                <ion-col>
                    <ion-button class="fontT" expand="full" color="bluetertiary" (click)="adicionarNum('4')"> 4 </ion-button>
                </ion-col>
                <ion-col>
                    <ion-button class="fontT" expand="full" color="bluetertiary" (click)="adicionarNum('5')"> 5 </ion-button>
                </ion-col>
                <ion-col>
                    <ion-button class="fontT" expand="full" color="bluetertiary" (click)="adicionarNum('6')"> 6 </ion-button>
                </ion-col>
                <ion-col>
                    <ion-button class="fontT" expand="full" color="bluemain" (click)="adicionarOp('-')"> - </ion-button>
                </ion-col>
            </ion-row>




            <ion-row>
                <ion-col>
                    <ion-button class="fontT" expand="full" color="bluetertiary" (click)="adicionarNum('1')"> 1 </ion-button>
                </ion-col>
                <ion-col>
                    <ion-button class="fontT" expand="full" color="bluetertiary" (click)="adicionarNum('2')"> 2 </ion-button>
                </ion-col>
                <ion-col>
                    <ion-button class="fontT" expand="full" color="bluetertiary" (click)="adicionarNum('3')"> 3 </ion-button>
                </ion-col>
                <ion-col>
                    <ion-button class="fontT" expand="full" color="bluemain" (click)="adicionarOp('+')"> + </ion-button>
                </ion-col>
            </ion-row>




            <ion-row>
                <ion-col>
                    <ion-button class="fontT" expand="full" color="bluemain"> ? </ion-button>
                </ion-col>
                <ion-col>
                    <ion-button class="fontT" expand="full" color="bluetertiary" (click)="adicionarNum('0')"> 0 </ion-button>
                </ion-col>
                <ion-col size="6">
                    <ion-button class="fontT" expand="full" color="bluemain"> = </ion-button>
                </ion-col>


            </ion-row>
        </ion-grid>

    </ion-card>


</ion-content>