<ion-header>
    <ion-toolbar color="bluemain">
        <ion-title>
            Básica
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="dark">

    <ion-card class="animate__animated animate__bounceInDown">
        <ion-item color="bluemain">
            <ion-label class="fontT"> Resultado: </ion-label>
        </ion-item>
        <ion-item color="graymain">
            <ion-label class="resultado">{{r}}</ion-label>
        </ion-item>
    </ion-card>

    <ion-card class="animate__animated animate__bounceInDown">
        <ion-item color="bluemain">
            <h5 class="fontT"> Primeiro Número: </h5>
        </ion-item>
        <ion-item color="graymain">
            <ion-input type="number" [(ngModel)]="n1"></ion-input>
        </ion-item>
    </ion-card>

    <ion-card class="animate__animated animate__bounceInDown">
        <ion-item color="bluemain">
            <h5 class="fontT"> Segundo Número: </h5>
        </ion-item>
        <ion-item color="graymain">
            <ion-input type="number" [(ngModel)]="n2"></ion-input>
        </ion-item>
    </ion-card>

    <ion-card class="animate__animated animate__bounceInDown" color="graymain">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-button class="fontT" expand="full" color="bluemain" (click)="soma()"> + </ion-button>
                </ion-col>
                <ion-col>
                    <ion-button class="fontT" expand="full" color="bluemain" (click)="subtracao()"> - </ion-button>
                </ion-col>
                <ion-col>
                    <ion-button class="fontT" expand="full" color="bluemain" (click)="multiplicacao()"> * </ion-button>
                </ion-col>
                <ion-col>
                    <ion-button class="fontT" expand="full" color="bluemain" (click)="divisao()"> / </ion-button>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-button class="fontT" expand="full" color="bluemain" (click)="limpar()">
                        <ion-icon class="fontT" name="trash-outline"></ion-icon>
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>

</ion-content>